body{
  background: #efeff0;
  color: #1a1919;
  font-size: 14px;
}

.container{
  padding: 30px 64px 0px 64px;
}

nav{
  text-align: right;
  top: 31.5px;
  right: 0;
  z-index: 10000;
  position: fixed;
  padding-right: 64px;
}

.dropdown{
  list-style: none;
  margin-top: 5px;
  display: none;
}

.dropdown__list{
  color: #1a1919;
  text-decoration: none;
  padding: 3px 0px 0px 32px;
  font-size: 17px;
  line-height: 2.2;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer; 
  text-align: right;

}

#panel-btn{
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 20px 0 10px;
    border-radius: 50%;
  }
  #panel-btn-icon{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 21px;
    height: 2px;
    margin: -1px 0 0 -7px;
    background: #1a1919;
    transition: .2s;
    float: right;
  }
  #panel-btn-icon:before, #panel-btn-icon:after{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 21px;
    height: 2px;
    background: #1a1919;
    transition: .3s;
  }
  #panel-btn-icon:before{
    margin-top: -8px;
  }
  #panel-btn-icon:after{
    margin-top: 6px;
  }
  #panel-btn .close{
    background: transparent;
  }
  #panel-btn .close:before, #panel-btn .close:after{
    margin-top: 0;
  }
  #panel-btn .close:before{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  #panel-btn .close:after{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .intro{
    padding-top: 25vh;
    text-align: center;
    margin: 0;
  }

  .page1{
    height: 100vh;
  }

  h2{
    font-size: 27px;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    letter-spacing: 4px;
    font-family:'ヒラギノ明朝 ProN W6';
  }

  .title{
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }

  .title_desc{
    font-size: 22px;
    letter-spacing: 3px;
    margin: 28px 0 32px;
    line-height: 1.85;
  }
  