body{
  background: #efeff0;
  color: #1a1919;
  font-size: 14px;
  transition: background-color 0.9s;
}

.container{
  padding: 30px 64px 0px 64px;
}

nav{
  text-align: right;
  top: 31.5px;
  right: 0;
  z-index: 10000;
  position: fixed;
  padding-right: 64px;
}

.dropdown{
  list-style: none;
  margin-top: 5px;
  display: none;
}

.dropdown__list{
  color: #1a1919;
  text-decoration: none;
  padding: 3px 0px 0px 32px;
  font-size: 17px;
  line-height: 2.2;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer; 
  text-align: right;

}
#panel-btn{
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 20px 0 10px;
    border-radius: 50%;
}
#panel-btn-icon{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 21px;
    height: 2px;
    margin: -1px 0 0 -7px;
    background: #1a1919;
    transition: .2s;
    float: right;
}
#panel-btn-icon:before, #panel-btn-icon:after{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 21px;
    height: 2px;
    background: #1a1919;
    transition: .3s;
}
#panel-btn-icon:before{
    margin-top: -8px;
}
#panel-btn-icon:after{
    margin-top: 6px;
}
#panel-btn .close{
    background: transparent;
}
#panel-btn .close:before, #panel-btn .close:after{
    margin-top: 0;
}
#panel-btn .close:before{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
#panel-btn .close:after{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.intro{
    padding-top: 25vh;
    text-align: center;
    margin: 0;
}

.page1{
    height: 100vh;
}

.myname{
    font-size: 27px;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    letter-spacing: 4px;
    font-family:'ヒラギノ明朝 ProN W6';
}

.title{
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.title_desc{
    font-size: 22px;
    letter-spacing: 3px;
    margin: 28px 0 32px;
    line-height: 1.85;
}
  
.page2{
    height: 100vh;
    font-family: "Noto Serif JP", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
    text-align: center;
}

.about{
  font-size: 25px;
  padding-top: 100px;
  font-family:'ヒラギノ明朝 ProN W6';
}

.text_box{
  display: flex;
}
.left-desc{
  padding: 20px 100px;
  width: 550px;
  text-align: left;
  font-size: 13px;
  letter-spacing: 0.3em;
  line-height: 2.35em;
  padding-top: 35px;
}
.left-desc2{
  padding: 0px 100px;
  width: 550px;
  text-align: left;
  font-size: 11px;
  letter-spacing: 0.15em;
  line-height: 2.15em;
}

.text_box_right{
  width: 100%;
  padding-top: 4%;
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}